@model BMWeb.DTO.TravelRouteDTO
@{
    ViewData["Title"] = "Editar Travel Route Page";
}

<div class="card">
    <div class="card-header bg-warning" style="color:white; font-weight:400;">
        Editar Rota
    </div>
    <div class="card-body">
        <form asp-action="EditRoute" method="post">
            <div class="form-row">
                <div class="form-group col-md-6" hidden>
                    <label for="inputEmail4" hidden>Id</label>
                    <input type="text" class="form-control" asp-for="Id" placeholder="Id" hidden>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Origem</label>
                    <input type="text" class="form-control" asp-for="Origem" placeholder="Origem">
                    <span asp-validation-for="Origem" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Destino</label>
                    <input type="text" class="form-control" asp-for="Destino" placeholder="Destino">
                    <span asp-validation-for="Destino" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Valor</label>
                    <input type="number" class="form-control" asp-for="Valor">
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
        </form>
    </div>
</div>



